api.env
discord_bot.env

key.json
report.html
reminds.log
access.log
db.sqlite3
default_names.json
photos

api/.venv
api/.env
api/data

web/.svelte-kit
web/node_modules
web/.npmrc

discord_bot/.env
discord_bot/.venv

.idea/