services:
  api:
    build: ./api
    volumes:
      - ./reminds.log:/app/data/reminds.log
      - ./db.sqlite3:/app/data/db.sqlite3
      - ./key.json:/app/data/key.json
      - ./photos:/app/data/photos
    env_file:
      - api.env
    ports:
      - 8000:8000
    restart: unless-stopped
    command: python -m uvicorn main:app --host 0.0.0.0 --port 8000
  web:
    build: ./web
    ports:
      - 3000:3000
    restart: unless-stopped
    command: node build
  proxy:
    image: nginx:latest
    volumes:
      - ./access.log:/var/log/nginx/access.log
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./photos:/gallery
      - ./report.html:/report.html
    depends_on:
      - api
      - web
    ports:
      - 80:80
    restart: unless-stopped
  goaccess:
    image: allinurl/goaccess:latest
    volumes:
      - ./access.log:/access.log
      - ./report.html:/report.html
    command: "access.log -o /report.html --log-format=COMBINED --real-time-html --ws-url=ws://localhost:80/goaccess"
    ports:
      - 7890:7890
    restart: unless-stopped
  discord_bot:
    build: ./discord_bot
    volumes:
      - ./default_names.json:/default_names.json
    env_file:
      - discord_bot.env
    ports:
      - 8001:8001
    command: python -m uvicorn main:app --port 8001 --host 0.0.0.0
