services:
  keyclub_api:
    container_name: keyclub_api
    build: ./api
    volumes:
      - ./reminds.log:/api/data/reminds.log
      - ./db.sqlite3:/api/data/db.sqlite3
      - ./key.json:/api/data/key.json
      - ./report.html:/api/data/report.html
      - ./photos:/api/data/photos
    env_file:
      - api.env
    expose:
      - 8000
    networks:
      - local
    restart: unless-stopped
    command: pipenv run uvicorn api.main:app --port 8000 --host 0.0.0.0
  keyclub_web:
    container_name: keyclub_web
    build: ./web
    expose:
      - 3000
    networks:
      - local
    restart: unless-stopped
    command: node build
  keyclub_proxy:
    container_name: keyclub_proxy
    image: nginx:latest
    volumes:
      - ./access.log:/var/log/nginx/access.log
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./photos:/gallery
    depends_on:
      - keyclub_api
      - keyclub_web
    ports:
      - 80:80
    networks:
      - local
    restart: unless-stopped
  keyclub_goaccess:
    container_name: keyclub_goaccess
    image: allinurl/goaccess:latest
    volumes:
      - ./access.log:/access.log
      - ./report.html:/report.html
    command: "access.log -o /report.html --log-format=COMBINED --real-time-html --ws-url=ws://localhost:80/goaccess"
    expose:
      - 7890
    networks:
      - local
    restart: unless-stopped
  keyclub_discord_bot:
    container_name: keyclub_discord_bot
    build: ./discord_bot
    volumes:
      - ./default_names.json:/default_names.json
    env_file:
      - discord_bot.env
    expose:
      - 8000
    networks:
      - local
    restart: unless-stopped
    command: pipenv run uvicorn main:app --port 8000 --host 0.0.0.0

networks:
  local: