services:
  api:
    container_name: keyclub_api
    build: ./api
    volumes:
      - ./reminds.log:/app/data/reminds.log
      - ./db.sqlite3:/app/data/db.sqlite3
      - ./key.json:/app/data/key.json
      - ./report.html:/app/data/report.html
      - ./photos:/app/data/photos
    env_file:
      - api.env
    expose:
      - 8000
    networks:
      - local
    restart: unless-stopped
    command: python -m uvicorn main:app --host 0.0.0.0 --port 8000
  web:
    container_name: keyclub_web
    build: ./web
    expose:
      - 3000
    networks:
      - local
    restart: unless-stopped
    command: node build
  proxy:
    container_name: keyclub_proxy
    image: nginx:latest
    volumes:
      - ./access.log:/var/log/nginx/access.log
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./photos:/gallery
    depends_on:
      - api
      - web
    ports:
      - 80:80
    networks:
      - local
    restart: unless-stopped
  goaccess:
    container_name: keyclub_goaccess
    image: allinurl/goaccess:latest
    volumes:
      - ./access.log:/access.log
      - ./report.html:/report.html
    command: "access.log -o /report.html --log-format=COMBINED --real-time-html --ws-url=ws://localhost:80/goaccess"
    expose:
      - 7890
    networks:
      - local
    restart: unless-stopped
  discord_bot:
    container_name: keyclub_discord_bot
    build: ./discord_bot
    volumes:
      - ./default_names.json:/default_names.json
    env_file:
      - discord_bot.env
    expose:
      - 8000
    networks:
      - local
    restart: unless-stopped
    command: python -m uvicorn main:app --port 8000 --host 0.0.0.0

networks:
  local: