[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
python-dotenv = "*"
uvicorn = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
motor = "*"
asyncio = "*"
apscheduler = "*"
passlib = "*"
argon2-cffi = "*"
sqlalchemy = "*"
sqlmodel = "*"

[dev-packages]

[requires]
python_version = "3.13"
